<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;

        }
        
        </style>

    <div class="tab">
  <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
             <th>Age</th> 
             <th>City</th>
              <th>profession</th>
        </tr>
        
    </thead>
    <% for(let i=0;i<form.length;i++) { %>
    
    <tbody>
        <tr>
            <td><%= form[i].name %>  </td>
            <td><%= form[i].email %>  </td>
            <td><%= form[i].age %>  </td>
            <td><%= form[i].city %>  </td>
            <td><%= form[i].profession %>  </td>
        </tr>
    </tbody>
<% } %>
    </table>

    <br>
    <a href="/user/hight"> <button type="submit">Add User</button> </a>
    </div>
</body>
</html>